/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zephyr,display = &oled;
        zmk,kscan = &kscan0;
    };

    encoder_1: encoder_1 {
        compatible = "alps,ec11";
        label = "Encoder 1";
        a-gpios = <&pro_micro 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        b-gpios = <&pro_micro 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        steps = <80>;
        status = "okay";
    };

    encoder_2: encoder_2 {
        compatible = "alps,ec11";
        label = "Encoder 2";
        a-gpios = <&pro_micro 21 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        b-gpios = <&pro_micro 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        steps = <80>;
        status = "okay";
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-demux";
        label = "KSCAN";
        debounce-period = <4>;
        polling-interval-msec = <8>;
        input-gpios // B6, B2, B3, B1, F7 - pro micro
            = <&pro_micro 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // B6
            , <&pro_micro 16 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // B2
            , <&pro_micro 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // B3
            , <&pro_micro 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // B1
            , <&pro_micro 18 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // F7
            ;
        output-gpios // D7, E6, B4, B5 lagom - pro micro
            = <&pro_micro 6 GPIO_ACTIVE_HIGH> // D7
            , <&pro_micro 7 GPIO_ACTIVE_HIGH> // E6
            , <&pro_micro 8 GPIO_ACTIVE_HIGH> // B4
            , <&pro_micro 9 GPIO_ACTIVE_HIGH> // B5
            ;
    };
    
    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder_1 &encoder_2>;
        triggers-per-rotation = <20>;
    };
};

&pro_micro_i2c {
    status = "okay";

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        label = "DISPLAY";
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        com-sequential;
        prechargep = <0x22>;
    };

};