/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";

        row-gpios = <&gpio0 3  (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
                    <&gpio0 28 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
                    <&gpio0 29 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
                    <&gpio0 30 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
                    <&gpio0 31 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;

        col-gpios = <&gpio0 2  (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
                    <&gpio1 0  (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
                    <&gpio1 1  (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
                    <&gpio1 2  (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
                    <&gpio1 3  (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
                    <&gpio1 4  (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
                    <&gpio1 5  (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
                    <&gpio1 6  (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
                    <&gpio1 7  (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
                    <&gpio1 8  (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
                    <&gpio1 9  (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
                    <&gpio1 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
                    <&gpio1 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
                    <&gpio1 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
                    <&gpio1 13 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;

        diode-direction = <0>; // COL2ROW
    };

    ec11_left: ec11_left {
        compatible = "zmk,ec11-encoder";
        a-gpios = <&gpio0 9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        b-gpios = <&gpio0 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        encoder-keycodes = <&kp VOL_UP>, <&kp VOL_DN>;
    };

    i2c0: i2c@40003000 {
        status = "okay";
        compatible = "nordic,nrf-twi";
        sda-pin = <26>;
        scl-pin = <27>;
        clock-frequency = <I2C_BITRATE_FAST>;

        ssd1306@3c {
            compatible = "solomon,ssd1306fb";
            reg = <0x3c>;
            width = <128>;
            height = <64>;
            segment-offset = <0>;
            page-offset = <0>;
            display-offset = <0>;
            multiplex-ratio = <63>;
            prechargep = <0xF1>;
            com-invdir;
            com-sequential;
            contrast = <128>;
        };
    };
};
